@model List<ePlanner.Models.Event>

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - ePlanner</title>    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Events, Tour, " />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->

    <link href="~/Content/Home/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home/zoomslider.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Home/component.css" />
    <script type="text/javascript" src="~/Scripts/Home/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/5.0/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/5.0/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.js"></script>

    <!--/web-fonts-->
    <link href="~/Content/Home/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,300,300italic,700,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Wallpoet' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,500,700,300' rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
</head>

<Style>
    .single-left2 h1{
        margin-top:10px;
        margin-bottom:10px;
        font-size:45px;
    }
    .single-left3 ul{
        margin-left:35px;
    }

</Style>

<body>
    <!--/banner-section-->
    <div id="demo-1" class="banner-inner">
        <div class="banner-inner-dott">
            <div class="header-top">
                <div class="search-box">
                    <ul>
                        <li style="padding-left:15px; padding-right:15px;"><a href="Login" target="_blank">Plan Your Event</a></li>
                    </ul>

                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <!--banner-info-->
            <div class="banner-info">
                <h1 style="font-size:65px;"><a href="Index">e<span class="logo-sub">Planner</span> </a></h1>
                <h2 style="margin-top:-9px; font-size:22px;"><span>WE ARE BRINGING PEOPLE TOGETHER</span></h2>            </div>
            <!--//banner-info-->
        </div>
    </div>
    <!--//banner-section-->
    <!--/breadcrumb-->
    <div class="service-breadcrumb w3-agile">
        <div class="container">
            <div class="wthree_service_breadcrumb_left">
                <ul>
                    <li><a href="Index">Home</a> <i>|</i></li>
                    <li>Event</li>
                </ul>
            </div>
            <div class="wthree_service_breadcrumb_right">
                <h3>Category: @ViewBag.Catagory</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//breadcrumb-->
    <div class="single w3ls">
        <div class="container">
            <div class="col-md-8 single-left">
                    <div class="carousel" style="height: 341px;">
                        <ul>
                            <li class=""> <img src="~/images/Events/@ViewBag.Image" alt="@ViewBag.Title"> <div class="caption1	"><span>@ViewBag.Title</span></div></li>
                        </ul>
                    </div>
                <div class="single-left2">
                    <h1>@ViewBag.Title</h1>
                    <ul class="com">
                        <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><a href="#">@ViewBag.Date</a></li>
                        <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span><a href="#">@ViewBag.Time</a></li>
                        @{ 
                            string myVenue = ViewBag.Venue;
                        }
                        @if (myVenue == "Online")
                        {
                            <li><span class="glyphicon glyphicon-record" aria-hidden="true"></span><a href="#">@ViewBag.Venue</a></li>
                        }
                        else
                        {
                            <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><a href="#">@ViewBag.Venue, @ViewBag.Address, @ViewBag.City, @ViewBag.State @ViewBag.Country</a></li>
                        }
                        <li><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><a href="#">@ViewBag.People People Going</a></li>
                        </ul>


</div>
                <div class="single-left3">
                    <br />
                    @Html.Raw(Server.HtmlDecode(ViewBag.Description))
                    <br />
                </div>
                <div class="single-left4">
                    <div class="col-lg-8">
                        @if (DateTime.Now < Convert.ToDateTime(ViewBag.Date))
                        {
                            <h4>Get tickets and pay at your doorstep.</h4>
                                                    <form action="Buy?Ei=@ViewBag.Id&p=@ViewBag.PriceOfTicket" method="post">
                                                        <button type="submit" style="font-size:20px; font-weight:bold;" class="btn btn-success">
                                                            Order Now $@ViewBag.PriceOfTicket
                                                        </button>
                                                    </form>
                        }
                        else if (ViewBag.People >= ViewBag.NoOfTickets)
                        {
                            <h4>All Tickets have been sold for this event.</h4>
                        }
                        else
                        {
                            <h4>This Event Has been Passed On @ViewBag.Date</h4>
                        }

                    </div>
                    <div class="col-lg-4">
                        <h4>Share This Post</h4>
                        <ul class="social-icons social-icons1">
                            <li><a href="#" class="icon icon-border icon-border1 facebook"></a></li>
                            <li><a href="#" class="icon icon-border icon-border1 twitter"></a></li>
                            <li><a href="#" class="icon icon-border icon-border1 instagram"></a></li>
                            <li><a href="#" class="icon icon-border icon-border1 pinterest"></a></li>
                        </ul>
                    </div>
                    <br /><br /><br /><br />
                </div>
            </div>
            <div class="col-md-4 single-right">
                <div class="blo-top">
                    <div class="tech-btm">
                        <h4 style="margin-top:-20px">About Planner</h4>
                        <div class="col-lg-12 center-block" style="margin-bottom: 10px">
                            <img src="~/images/Profile/@ViewBag.Profile" alt="@ViewBag.Name" class="img-thumbnail center-block">
                        </div>
                        <div class="text-center">
                            <h3 style="margin:10px auto" class="text-danger">@ViewBag.Name</h3>
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><a href="#">@ViewBag.Phone</a><br />

                        </div>
                    </div>
                </div>
                <div class="related-posts">
                    <h3>Other Events</h3>
                    @{
                            int count = 5;
                            foreach (var item in Model)
                            {
                            <div class="related-post">
                                <div class="related-post-left">
                                    <a href="~/Home/Event?id=@item.Id"><img src="~/images/Events/@item.Image" alt="@item.Title" class="img-responsive"></a>
                                </div>
                                <div class="related-post-right">
                                    <h4><a href="Event?id=@item.Id">@item.Title</a></h4>
                                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span><a href="#">@item.Catagory</a><br />
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><a href="#">@item.Date.ToLongDateString()</a><br />
                                    @{
                                        string myVenue1 = item.Venue;
                                    }
                                    @if (myVenue1 == "Online")
                                    {
                                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span><a href="#">@item.Venue</a>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><a href="#">@item.City</a>
                                    }
                                </div>
                                <div class="clearfix"> </div>
                                <br />
                            </div>
                            count++;
                            if (count == 5)
                            {
                                break;
                            }
                        }
                    }

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                    <h3>About Us</h3>
                    <p>ePlanner is the world's largest event technology platform. We build the technology to allow anyone to create, share, find and attend new things to do that fuel their passions and enrich their lives. Music festivals, venues, marathons, conferences, hackathons, air guitar contests, political rallies, fundraisers, gaming competitions — you name it, we power it. Our mission? To bring the world together through live experiences.</span></p>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                    <h3>Contact Info</h3>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Old Anarkali, <span>Lahore.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="#">info@ePlanner.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>090078601</li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
                    <h3>Explore Events</h3>
                    <ul class="list-unstyled">
                        <li><a href="~/Home/Catagory?cat=Music">Music</a></li>
                        <li><a href="~/Home/Catagory?cat=Food">Food & Drink</a></li>
                        <li>
                            <a href="~/Home/Catagory?cat=Classes">Classes</a>
                        </li>
                        <li><a href="~/Home/Catagory?cat=Arts">Arts</a></li>
                        <li><a href="~/Home/Catagory?cat=Parties">Parties</a></li>
                        <li><a href="~/Home/Catagory?cat=Networking">Networking & Meetups</a></li>
                        <li><a href="~/Home/Catagory?cat=Tourism">Tourism</a></li>
                        <li>
                            <a href="~/Home/Catagory?cat=Sports">Sports and Wellness</a>
                        </li>
                    </ul>

                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
                    <h3>Connect Us on</h3>

                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
                <h2><a href="index.html">ePlanner <span>Manage Events at your Own</span></a></h2>
            </div>
            <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
                <p>&copy 2017 ePlanner. All rights reserved</p>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Home/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/Home/jquery.light-carousel.js"></script>
    <script>
					$('.sample1').lightCarousel();
    </script>
    <link href="~/Content/Home/light-carousel.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/Home/bootstrap.js"></script>

</body>
</html>